<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Works by Quentin Tarantino</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo-container">
          <img src="/images/logo-quentin-tarantino_01.png" alt="logo-quentin" />
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Works</h1>
      <div class="works-container">
        <div class="work">
          <img src="/images/death-proof_680x1000px.jpg" alt="Death Proof" />
          <h2>Death Proof</h2>
          <p>
            Death Proof is a 2007 American exploitation horror film written and
            directed by Quentin Tarantino. The film centers on a psychopathic
            stunt man, who uses his "death proof" cars to kill young women. The
            film is Tarantino's homage to the exploitation films of the 1970s,
            specifically slasher films and car chase films.
          </p>
        </div>
        <div class="work">
          <img
            src="/images/django-unchained_680x1000px.jpg"
            alt="Django Unchained"
          />
          <h2>Django Unchained</h2>
          <p>
            Django Unchained is a 2012 American revisionist Western film written
            and directed by Quentin Tarantino. The film stars Jamie Foxx as
            Django, a freed slave who becomes a bounty hunter and sets out to
            rescue his wife from a brutal Mississippi plantation owner. The film
            is a tribute to Spaghetti Westerns and Blaxploitation films.
          </p>
        </div>
        <div class="work">
          <img
            src="/images/hateful-eight_680x1000px.jpg"
            alt="The Hateful Eight"
          />
          <h2>The Hateful Eight</h2>
          <p>
            The Hateful Eight is a 2015 American Western film written and
            directed by Quentin Tarantino. The film takes place in post-Civil
            War Wyoming and follows a group of strangers who seek refuge from a
            blizzard in a stagecoach stopover. The film is a tribute to classic
            Westerns and Agatha Christie's mystery novels.
          </p>
        </div>
        <div class="work">
          <img
            src="/images/inglourious-basterds_680x1000px.jpg"
            alt="Inglourious Basterds"
          />
          <h2>Inglourious Basterds</h2>
          <p>
            Inglourious Basterds is a 2009 war film written and directed by
            Quentin Tarantino. The film tells an alternate history story of two
            plots to assassinate Nazi Germany's leadership, one planned by a
            young French Jewish cinema proprietor, and the other by a team of
            Jewish-American soldiers led by Lieutenant Aldo Raine. The film is a
            tribute to Spaghetti Westerns and war films.
          </p>
        </div>
      </div>
    </main>
    <footer>
      <hr />
      <p>&copy;2023 Quentin Tarantino Fan Club</p>
    </footer>
  </body>
</html>
